@{
	ViewBag.Title = "Home Page";
	if (Session["userID"] == null)
	{
		Response.Redirect("~/Login/Index");
	}
}
<div class="jumbotron">
	<h1>Warzywniak</h1>


</div>




<div>
	@Html.ActionLink("List of products", "Index", "Products")<br />
</div>

